name: Maven Package upon a push

on:
  release:
    types: [published]
  pull_request:
    types: [opened, reopened, synchronize]

  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string
  push:
    branches:
      - '!release-branch'
      - release-1*
      - master
      - 1.*
      - develop*
      - MOSIP*

jobs:
  build-maven-registration:
    uses: mosip/kattu/.github/workflows/maven-build.yml@master-java21
    with:
      SERVICE_LOCATION: ./registration-processor
      BUILD_ARTIFACT: registration
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  publish_to_nexus:
    if: "${{ !contains(github.ref, 'master') && github.event_name != 'pull_request' && github.event_name != 'release' && github.event_name != 'prerelease' && github.event_name != 'publish' }}"
    needs: build-maven-registration
    uses: mosip/kattu/.github/workflows/maven-publish-to-nexus1.yml@master-java21
    with:
      SERVICE_LOCATION: ./registration-processor
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_URL: ${{ secrets.OSSRH_SNAPSHOT_URL }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  build-dockers:
    needs: build-maven-registration
    strategy:
      matrix:
        include:
          - SERVICE_LOCATION: 'registration-processor/post-processor/registration-processor-registration-transaction-service'
            SERVICE_NAME: 'registration-processor-registration-transaction-service'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '11'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-1'
            SERVICE_NAME: 'registration-processor-stage-group-1'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '13'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-2'
            SERVICE_NAME: 'registration-processor-stage-group-2'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '7'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-3'
            SERVICE_NAME: 'registration-processor-stage-group-3'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-4'
            SERVICE_NAME: 'registration-processor-stage-group-4'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '7'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-5'
            SERVICE_NAME: 'registration-processor-stage-group-5'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '7'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-6'
            SERVICE_NAME: 'registration-processor-stage-group-6'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '13'
          - SERVICE_LOCATION: 'registration-processor/stage-groups/registration-processor-stage-group-7'
            SERVICE_NAME: 'registration-processor-stage-group-7'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '9'
          - SERVICE_LOCATION: 'registration-processor/core-processor/registration-processor-abis'
            SERVICE_NAME: 'registration-processor-abis'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/workflow-engine/registration-processor-reprocessor'
            SERVICE_NAME: 'registration-processor-reprocessor'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/init/registration-processor-dmz-packet-server'
            SERVICE_NAME: 'registration-processor-dmz-packet-server'
          - SERVICE_LOCATION: 'registration-processor/init/registration-processor-registration-status-service'
            SERVICE_NAME: 'registration-processor-registration-status-service'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '12'
          - SERVICE_LOCATION: 'registration-processor/registration-processor-notification-service'
            SERVICE_NAME: 'registration-processor-notification-service'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/registration-processor-landing-zone'
            SERVICE_NAME: 'registration-processor-landing-zone'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/workflow-engine/registration-processor-workflow-manager-service'
            SERVICE_NAME: 'registration-processor-workflow-manager-service'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'
          - SERVICE_LOCATION: 'registration-processor/registration-processor-common-camel-bridge'
            SERVICE_NAME: 'registration-processor-common-camel-bridge'
            BUILD_ARTIFACT: 'registration'
            SQUASH_LAYERS: '10'

      fail-fast: false
    name: ${{ matrix.SERVICE_NAME }}
    uses: mosip/kattu/.github/workflows/docker-build.yml@master-java21
    with:
      SERVICE_LOCATION: ${{ matrix.SERVICE_LOCATION }}
      SERVICE_NAME: ${{ matrix.SERVICE_NAME }}
      BUILD_ARTIFACT: ${{ matrix.BUILD_ARTIFACT || false }}
      SQUASH_LAYERS: ${{ matrix.SQUASH_LAYERS }}
    secrets:
      DEV_NAMESPACE_DOCKER_HUB: ${{ secrets.DEV_NAMESPACE_DOCKER_HUB }}
      ACTOR_DOCKER_HUB: ${{ secrets.ACTOR_DOCKER_HUB }}
      RELEASE_DOCKER_HUB: ${{ secrets.RELEASE_DOCKER_HUB }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}


  sonar_analysis:
    needs: build-maven-registration
    if: "${{  github.event_name != 'pull_request' }}"
    uses: mosip/kattu/.github/workflows/maven-sonar-analysis.yml@master-java21
    with:
      SERVICE_LOCATION: ./registration-processor
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      ORG_KEY: ${{ secrets.ORG_KEY }}
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

